body {
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mainCanvas {
    width: 100vw;
    height: 100vh;
    touch-action: none;
}

#uiContainer1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 320px;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

label {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

span {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#add-object {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    padding: 0px;
    border-radius: 10px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

#add-object:hover {
    background-color: #ffffff;
}

#delete-object {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    padding: 0px;
    border-radius: 10px;
    border: 0;
    background-color: rgba(180, 0, 0, 0.5);
    transition: 0.5s;
    color: white;
}

#delete-object:hover {
    background-color: rgba(180, 0, 0, 1);
}

#overlay-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
}

#overlay {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 15px;
}

.overlay-button {
    font-size: 1.3rem;
    height: 100%;
    margin-bottom: 15px;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0);
    color: white;
    opacity: 0.6;
    transition: 0.5s;
}

.overlay-button:hover {
    opacity: 0.9;
}

.close-button {
    background-color: blue;
    margin-bottom: 0px;
}

.close-button:hover {
    background-color: rgb(0, 0, 128);
}